*{
    box-sizing: border-box;
}

body{
    background-color: rgba(28, 37, 65, 1);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(91, 192, 190, 1);
}

form{
    padding-left: 25px;
    padding-bottom: 5px;

}

.navegacion {
  width: 100%;
  background-color: rgba(11, 19, 43, 1);
  overflow: auto;
  padding: 5px;
}

.navegacion a {
  float: left;
  padding: 15px;
}

.navegacion a:hover {
  background-color: rgb(26, 46, 66);
}

.icono{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    background: hsla(225, 59%, 11%, 1);
    background: radial-gradient( hsla(213, 30%, 32%, 1) 0%, hsla(225, 59%, 11%, 1)100%);
    background: -moz-radial-gradient( hsla(213, 30%, 32%, 1) 0%, hsla(225, 59%, 11%, 1) 100%);
    background: -webkit-radial-gradient( hsla(213, 30%, 32%, 1) 0%, hsla(225, 59%, 11%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0b132bff", endColorstr="#3a506bff", GradientType=1 );
}

.botonbuscador{
    width: 15px;
    height: 15px;
}

.logo{
    border-radius: 10px;
    padding-left: 5px;
    border: solid;
    border: black;
    width: 95%;
}

h1{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    padding: 10px;

}
.burbuja1{
    background-color: rgba(91, 192, 190, 1);
    border-radius: 12%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin: 40px;
    text-align: center;
}
.burbuja2{
    background-color: rgba(91, 192, 190, 1);
    border: solid rgba(91, 192, 190, 1);
    border-width: 10px;
    border-radius: 10%;
    padding: 20px;
    margin: 10px;
    display: inline-block;
}
.descubrir{
    color: rgba(11, 19, 43, 1);
    text-size-adjust: 44px;
    background: hsla(233, 100%, 90%, 1);
    background: linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CAD0FF", endColorstr="#E3E3E3", GradientType=1 );
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 20px;
    border-radius: 10px;
}

button{
    /*coolors.co*/
    background: hsla(233, 100%, 90%, 1);
    background: linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);  
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CAD0FF", endColorstr="#E3E3E3", GradientType=1 ); 
    color:hsla(225, 59%, 11%, 1);
    border-radius: 20px;
}

.buscador{
    /*coolors.co*/
    background: hsla(225, 59%, 11%, 1);
    background: linear-gradient(0deg, hsla(225, 59%, 11%, 1) 0%, hsla(179, 44%, 55%, 1)100%);
    background: -moz-linear-gradient(0deg, hsla(225, 59%, 11%, 1) 0%, hsla(179, 44%, 55%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(225, 59%, 11%, 1) 0%, hsla(179, 44%, 55%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0b132bff", endColorstr="#5bc0beff", GradientType=1 );
    color: rgba(255, 255, 255, 1);
    border: solid rgba(91, 192, 190, 1);
    text-align: center;
    border-radius: 20px;
    font-size: 15px;

  }


@media (min-width: 768px){
    h1{
        display: inline-block;
    }
    .logo{
        border-radius: 30px;
        border: solid;
        border: black;
        border-width: 20px;
        padding-bottom: 5px;
        margin: 30px;
        width: 30%;
    }
    .botonbuscador{
        width: 30px;
        height: 30px;
    }
    .burbuja1{
        display: inline-block;
    }
    .icono{
        width: 120px;
        height: 120px;
        border-radius: 10px;
        padding: 10px;
        margin-left: 60px;
        margin-right: 60px;
        background: hsla(225, 59%, 11%, 1);
        background: radial-gradient( hsla(213, 30%, 32%, 1) 0%, hsla(225, 59%, 11%, 1)100%);
        background: -moz-radial-gradient( hsla(213, 30%, 32%, 1) 0%, hsla(225, 59%, 11%, 1) 100%);
        background: -webkit-radial-gradient( hsla(213, 30%, 32%, 1) 0%, hsla(225, 59%, 11%, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0b132bff", endColorstr="#3a506bff", GradientType=1 );
        /* $gradient-radial: radial-gradient(#0b132bff, #1c2541ff, #3a506bff, #5bc0beff, #ffffffff); */
    }
    button{
        /*coolors.co*/
        background: hsla(233, 100%, 90%, 1);
    
        background: linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
        
        background: -moz-linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
        
        background: -webkit-linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
        
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CAD0FF", endColorstr="#E3E3E3", GradientType=1 );
        
        color:hsla(225, 59%, 11%, 1);
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 13px;
        padding-bottom: 12px;
        border-radius: 20px;
        margin: 20px;
      }
      .buscador{
        /*coolors.co*/
        background: hsla(225, 59%, 11%, 1);
        background: linear-gradient(0deg, hsla(225, 59%, 11%, 1) 0%, hsla(179, 44%, 55%, 1)100%);
        background: -moz-linear-gradient(0deg, hsla(225, 59%, 11%, 1) 0%, hsla(179, 44%, 55%, 1) 100%);
        background: -webkit-linear-gradient(0deg, hsla(225, 59%, 11%, 1) 0%, hsla(179, 44%, 55%, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0b132bff", endColorstr="#5bc0beff", GradientType=1 );
        color: rgba(255, 255, 255, 1);
        border: solid rgba(91, 192, 190, 1);
        border-width: 2px;
        text-align: center;
        border-radius: 20px;
        font-size: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 12%;
        margin-bottom: 10%;
        margin-left: 100px;
        margin-right: 5px;
      }
}