*{
    box-sizing: border-box;
}

body{
    background-color: rgba(28, 37, 65, 1);
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgba(91, 192, 190, 1);
}

form{
    text-align: left;
}

.navegacion{
    background-color: rgba(11, 19, 43, 1);
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
}

a{
    text-decoration: none;
    font-size: 20px;
}

.icono{
    width: 80px;
    height: 80px;
    background-color: rgba(58, 80, 107, 1);
    border-radius: 100%;
    padding: 10px;
}
.logo{
    border-radius: 30px;
    border: solid;
    border: black;
    border-width: 20px;
    margin:20px;
}
.titulos{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    padding: 10px;
    display: inline-block;
}



